{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
      [
          "module-resolver",
          {
              "root": ["./"],
              "alias": {
                  "@": "./",
                  "@components": "./src/components",
                  "@pages": "./src/pages",
                  "@images": "./src/images"
              }
          }
      ],
      "@babel/plugin-proposal-class-properties",
      "@babel/plugin-transform-runtime"
  ],
  "ignore": ["./dist"]
}